* {
    margin: 0;
    border: 0;
}

body {
    /* background-image: url(resources/bg_official.png); */
    background-image: linear-gradient(to right, #5D0200 8%, #030204 20%, #260100 41%, #D11016 76%);
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

#iuser_container {
    border: 2px;
    border-radius: ridge;
    background-color: #FEFEFE;
    opacity: 0.9;
}

#iusername {
    color: #231F20;
    font-weight: bold;
}

#iuser_id {
    color: #231F20;
    font-weight: bold;
    top: 20px;
}

#notification_img {
    width: 4%;
    height: 3%;
    position: absolute;
    top: 4px;
    right: 130px;
}

.button_container {
    top: 1px;
    right: 10px;
    position: absolute;
}

.logout_button {
    background: #B80402;
    background-image: -webkit-linear-gradient(top, #B80402, #5D0200);
    background-image: -moz-linear-gradient(top, #B80402, #5D0200);
    background-image: -ms-linear-gradient(top, #B80402, #5D0200);
    background-image: -o-linear-gradient(top, #B80402, #5D0200);
    background-image: -webkit-gradient(to bottom, #B80402, #5D0200);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: small;
    padding: 5px 25px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #B80402 1px;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
}

.logout_button:hover {
    border: solid #030204 1px;
    background: #B80402;
    background-image: -webkit-linear-gradient(top, #B80402, #260100);
    background-image: -moz-linear-gradient(top, #B80402, #260100);
    background-image: -ms-linear-gradient(top, #B80402, #260100);
    background-image: -o-linear-gradient(top, #B80402, #260100);
    background-image: -webkit-gradient(to bottom, #B80402, #260100);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.side_container {
    width: 60%;
    opacity: .9;
}

.ibutton {
    display: block;
    width: 30%;
    background: #B80402;
    background-image: -webkit-linear-gradient(top, #B80402, #5D0200);
    background-image: -moz-linear-gradient(top, #B80402, #5D0200);
    background-image: -ms-linear-gradient(top, #B80402, #5D0200);
    background-image: -o-linear-gradient(top, #B80402, #5D0200);
    background-image: -webkit-gradient(to bottom, #B80402, #5D0200);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 20px;
    font-weight: medium;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FF0300 1px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.ibutton:hover {
    border: solid #030204 1px;
    background: #B80402;
    background-image: -webkit-linear-gradient(top, #B80402, #260100);
    background-image: -moz-linear-gradient(top, #B80402, #260100);
    background-image: -ms-linear-gradient(top, #B80402, #260100);
    background-image: -o-linear-gradient(top, #B80402, #260100);
    background-image: -webkit-gradient(to bottom, #B80402, #260100);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.title {
    border: none;
    color: #FEFEFE;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 1em;
    width: 20%;
    top: 60px;
    right: 200px;
    position: absolute;
    padding-bottom: 0.5px;
    background-color: #260100;
    border: #D11016;
    opacity: 0.9;
}


/* white background*/

.display {
    border: none;
    background-color: #FEFEFE;
    width: 78%;
    height: 80%;
    position: absolute;
    border-radius: 10px 10px 0 0;
    top: 20%;
    right: 1%;
    bottom: 10%;
    opacity: 0.9;
}

.time {
    float: top;
    float: center;
    position: absolute;
    left: 65%;
    top: 1%;
}

.time_format {
    color: #231F20;
    /* float: center; */
}