body {
    background-image: url(resources/bg_official.png);
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#iuser_container {
    border: 2px;
    border-radius: ridge;
    background-color: #FEFEFE;
    opacity: 0.9;
}

#iusername {
    color: #231F20;
    font-weight: bold;
    /* background-color: #FEFEFE; */
    /* padding-left: 1px; */
}

#iuser_id {
    color: #231F20;
    font-weight: bold;
    top: 20px;
}

#notification_img {
    width: 5%;
    height: 5%;
    position: absolute;
    top: 25px;
    right: 130px;
}

.button_container {
    top: 18px;
    right: 10px;
    position: absolute;
}

.logout_button {
    border: none;
    color: #DD0127;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2em;
}

.lbutton {
    background-color: #DD0127;
    color: black;
}

.lbutton:hover {
    background-color: #DD0127;
    color: #FEFEFE;
    box-shadow: 2px 1px 2px 1px #FEFEFE;
}

.side_container {
    background-image: url(resources/bg_side.jpg);
    width: 50%;
    height: 50%;
    opacity: 1;
}

#button_all_books {
    position: absolute;
    left: 10px;
}

#button_add_books {
    position: absolute;
    left: 10px;
    bottom: 500px;
}

#button_avail_books {
    position: absolute;
    left: 10px;
    bottom: 400px;
}

#button_borrower_history {
    position: absolute;
    left: 10px;
    bottom: 300px;
}

.ibutton {
    width: 200px;
    border: none;
    color: #DD0127;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2em;
}

.btn {
    background-color: #DD0127;
    color: black;
}

.btn:hover {
    background-color: #DD0127;
    color: #FEFEFE;
    box-shadow: 2px 1px 2px 1px #FEFEFE;
}

.title {
    border: none;
    color: #FEFEFE;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 1em;
    width: 20%;
    top: 60px;
    right: 100px;
    position: absolute;
    right: 50px;
    padding-bottom: 0.5px;
    background-color: #DD0127;
}

.display {
    border: none;
    background-color: #FEFEFE;
    float: bottom;
    float: right;
    width: 84%;
    height: 600px;
    position: absolute;
    top: 20%;
    bottom: 40%;
    border-radius: 1em;
    right: 1%;
    opacity: 0.8;
}

.time {
    float: top;
    float: center;
    position: absolute;
    left: 65%;
    top: 4%;
}

.time_format {
    color: #231F20;
    /* float: center; */
}